:root {
    --blackish: #000000;
    --black: #333333;
    --white: #ffffff;
    --blue-light: #e0eeff;
    --blue: #0072f5;
    --yellow: #ffd02f;
    --grey-dark: #6c757d;
    --grey: #dfdfdf;
    --greyish: #b4b4b4;
    --grey-light: #ebebeb;
    --grey-lighter: #f6f6f6;
    --grey-lightest: #fafafa;
    --white-grey: #f9f9f9;
    --green: #4eceb1;
    --gold: #e6b200;
    --cherry-red: #ec002d;
    --text-color: #4c555a;
}

#root {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    color: var(--grey-dark);
    border-radius: 8px;

    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px var(--grey-light);
    padding: 16px;

    background-color: var(--white);
    box-sizing: border-box;
    margin-top: 16px;

    text-align: left
}

.icon {
    height: 14px;
    width: 14px;
    vertical-align: middle;
}

.app-root {
    text-align: left;
}

.divider {
    border-bottom: solid 1px var(--grey-light);
    margin: 16px -16px 16px -16px;
}

.powered {
    font-size: 14px;
    float: right;
}

.powered-link {
    text-decoration: none;
    color: var(--blue);
}

.powered-icon {
    margin-right: 2px;
}

.time {
    margin-bottom: 4px;
}

.location {
    margin-bottom: 16px;
}

.location-icon {
    margin-right: 2px;
    opacity: .5;
}

@media only screen and (max-width: 768px) {
    .powered {
        max-width: 90px;
    }
}
