.hourly {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hour {
    text-align: center;
    margin: 0 14px;
    font-size: 14px;
}

.hour-icon {
    width: 40px;
    height: 40px;
    margin: 6px 0;
}
