
.realtime {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 16px;
}

.realtime-temp {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    color: var(--blackish);
}

.realtime-temp-degrees {
    color: var(--blackish);
    font-weight: bold;
    align-self: flex-start;
    margin-right: 16px;
    margin-top: 4px;
}

.realtime-weather-code{
    color: var(--blackish);
}

.realtime-feels-like {
}

.realtime-icon {
    width: 66px;
    height: 66px;
    margin-left: auto;
}
